<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width'>

  <title>{{ title }}</title>
  <meta name='description' content="{{ desc }}">

  <!--links-->
  <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">
    {% include "_partials/fonts.liquid" %}
  {% include "_partials/favicons.liquid" %}
<!--Opengraph-->
  <meta property="og:title" content="{{ data.title }}" />
  <meta property="og:url" content="{{ page.url }}" />
  {% if tags %}
  <meta property="og:image" content="{{ site.url }}/assets/img/og/{{ data.title | slug }}-preview.jpeg" />
  <meta property="og:image:secure_url" content="{{ site.url }}/assets/img/og/{{ data.title | slug }}-preview.jpeg" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}/img/default-preview.jpeg" />
  <meta property="og:image:secure_url" content="{{ site.url }}/img/default-preview.jpeg" />
  {% endif %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="{{ site.twitter-s }}" />
  <meta name="twitter:creator" content="{{ site.twitter-s }}" />
  <link rel="me" href="{{ site.mastodon }}">
  <!--styles-->
  <link href="/assets/styles/tailwind.css" rel="stylesheet" />
  <!--styles-->
  <link href="/assets/styles/tailwind.css" rel="stylesheet" />
  <!--Scripts-->
  <script>
    const isDarkMode = () => localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia(
      '(prefers-color-scheme: dark)').matches);
    if (isDarkMode()) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')

    }
  </script>
</head>

<body class="dark:text-mk-white dark:bg-mk-background">
  <header>
<nav id="header" class="w-full z-30 top-10 py-1">
  <div class="w-full flex place-items-start justify-between mt-0 py-2">

    <div id="mobileMenuButton" class="cursor-pointer hidden block mr-6 inline-block left-0 top-0">
      <i class="las la-bars text-mk-background dark:text-mk-yellow-main text-2xl"></i>
    </div>
    <!--     <input class="hidden" type="checkbox" id="menu-toggle"> -->

    <div id="nav-menu" class="sm:flex sm:items-top sm:w-auto w-full order-1 sm:order-1">
      <nav>
        <ul class="sm:flex items-center justify-between text-mk-blue dark:text-mk-yellow-main pt-0 sm:pt-0">
          <li class="flex flex-wrap justify-between items-center mx-auto max-w-screen-2xl">
            <a href="/" class="flex items-center no-underspanne link-novisited no-underline">
              <span class="hidden sm:inline-block">   <img  src="/assets/img/logo.png" class="mr-2 w-10 h-10 rounded-full" alt="Stencil Demo" /></span>
              <div class="ml-0.5 self-center font-semibold whitespace-nowrap text-mk-background dark:text-mk-white">Stencil Demo</div>
          </li>
          <li><a class="inline-block link-novisited hover:text-black font-medium  pt-0 pb-0 sm:pl-0 md:px-3"
              href="/projects/">📋 Projects</a></li>
          <li><a class="inline-block link-novisited hover:text-black font-medium  pt-0 pb-0 sm:pl-0 md:px-3"
              href="/podcasts/">🎙️ Podcasts</a></li>
        </ul>
      </nav>
    </div>

    <div id="nav-content" class="order-2 sm:order-3 flex flex-wrap flex-row-reverse flex-col-reverse items-top justify-end mr-0">
      <div id="nav-buttons" class="flex items-center w-full sm:w-full">
        <div class="px-4">
          <label id="toggleDarkMode" class="relative inspanne-flex items-center cursor-pointer switch-button">
            <input type="checkbox" class="sr-only peer">
            <div class="flex justify-center items-center w-8 h-8 
              bg-tg-deepdark 
              shadow-sm
              shadow-mk-purple-deco
              dark:shadow-mk-yellow-main
              rounded-full
              peer-hover::outspanne-none 
              peer-hover::ring-2 
              dark:bg-mk-yellow-main 
              dark:border-gray-600 
              peer-checked:bg-mk-yellow-main">
              <div class="text-mk-yellow-main dark:hidden">
                <i class="las la-moon"></i>
              </div>
              <div class=" text-mk-background hidden dark:visible dark:inline">
                <i class="las la-sun"></i>
              </div>
            </div>
          </label>
        </div>
        <div class=""><a href="/posts" class="link-novisited">Blog</a> →</div>
      </div>
    </div>
  </div>
</nav>

<!-- <script>
  var mobileMenuButton = document.getElementById("mobileMenuButton");
  mobileMenuButton.onclick = function () {
    document.getElementById("nav-menu").classList.toggle("hidden");
    document.getElementById("nav-buttons").classList.toggle("flex");
    document.getElementById("nav-buttons").classList.toggle("flex-col");
    document.getElementById("nav-buttons").classList.toggle("space-y-2");
  }
  // Hide element when click outside nav
  // var theElementContainer = document.getElementsByTagName("nav")[0];
  // document.addEventListener('click', function(event) {
  //   if (!theElementContainer.contains(event.target)) {
  //     document.getElementById("menu").classList.toggle("hidden");
  //     document.getElementById("nav-buttons").classList.toggle("flex");
  //     document.getElementById("nav-buttons").classList.toggle("flex-col");
  //     document.getElementById("nav-buttons").classList.toggle("space-y-2");
  //   }
  // });
</script>-->
  </header>
  <main>
    {{ content }}
  </main>

 <footer class="mt-4">
  <div class="mx-auto  pb-10">

      <!---->
      <div class="flex flex-wrap content-center">
        <div class="flex items-center link-novisited no-underline hover:text-social-mastodon dark:hover:text-social-mastodon mr-6">
          <i class="lab la-mastodon text-2xl"></i>
          <a href="{{ site.mastodon }}" class="link-novisited">Мастадон</a>
        </div>

        <div class="flex items-center link-novisited no-underline hover:text-social-linkedin dark:hover:text-social-linkedin mr-6">
          <i class="lab la-linkedin text-2xl no-underline"></i>
            <a href="{{ site.linkedin }}" class="link-novisited">ЛинкедИн</a>
        </div>

        <div class="flex items-center link-novisited no-underline hover:text-social-instagram dark:hover:text-social-instagram mr-6">
          <i class="lab la-instagram text-2xl no-underline"></i>
            <a href="{{ site.steam }}" class="link-novisited">Инстаграм</a>
        </div>

        <div class="flex items-center link-novisited no-underline hover:text-social-youtube dark:hover:text-social-youtube mr-6">
          <i class="lab la-youtube text-2xl no-underline"></i>
          <a href="{{ site.youtube }}" class="link-novisited">Ютуб</a>
        </div>

        <div class="flex items-center link-novisited no-underline hover:text-social-telegram dark:hover:text-social-telegram mr-6">
          <i class="lab la-telegram text-2xl no-underline">
            <a href="{{ site.telegram }}" class="link-novisited"></i>Телеграм</a>
        </div>

        <div class="flex items-center sm:grow link-novisited no-underline hover:text-social-epicgames dark:hover:text-social-steam-dark mr-6">
          <i class="lab la-steam text-2xl no-underline"></i>
            <a href="{{ site.steam }}" class="link-novisited">Стим</a>
        </div>
        <div class="flex items-center link-novisited no-underline hover:text-mk-background">
          <a href="/donation">
            <button class="outline outline-offset-2 outline-1 rounded">
              <div class="px-1 flex items-center">
                <i class="text-2xl las la-piggy-bank"></i></div>
            </button></a>
        </div>
      </div>
     
      <p class="text-sm py-2">
        <!--Добавляем автора сайта-->
        <span class="space-out-bottom-mili-xs">© {{ site.author }} × </span>
        <!--Добавляем копирайт на сайт и даты-->
        <span>2017 — {% year %}</span> </p>
  </div>
</footer>
  <script>
    document.getElementById("toggleDarkMode").addEventListener("change", function () {
      if (isDarkMode()) {
        localStorage.theme = 'light'
        document.documentElement.classList.remove('dark')
      } else {
        localStorage.theme = 'dark'
        document.documentElement.classList.add('dark')
      }
    });
  </script>
  <script src="/assets/scripts/jquery.min.js"></script>
  <script src="/assets/scripts/fotorama.min.js"></script>
</body>

</html>