<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width'>
  {% if pagination.pageNumber > 0 %}
  <title>{{ title }} × [Page {{ pagination.pageNumber }}]</title>
  <meta name='description' content="{{ desc }} × [Page {{ pagination.pageNumber }}]">
  {% else %}
  <title>📋 Blog Feed Page</title>
  <meta name='description' content="{{ desc }}">
  {% endif %}
  <meta name="author" content="{{ site.author }}">

  <!--Open Graph-->
  {% if pagination.pageNumber > 0 %}
  <meta property="og:title" content="{{ title }} × [Page {{ pagination.pageNumber }}]">
  <meta property="og:description" content="{{ desc }} × [Page {{ pagination.pageNumber }}]">
  <meta property="og:image" content="{{ site.url }}/assets/covers/Notes-OG.jpg">

  {% else %}
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ desc }}">
  <meta property="og:image" content="{{ site.url }}/assets/covers/Blog-OG.jpg">
  {% endif %}
  <meta property="og:site_name" content="furye.ru">
  <meta property="og:url" content="{{ site.url }}{{ page.url | url }}">
  <meta property="og:type" content="object">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">

  <!--links-->
  <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">
  {% include "_partials/fonts.liquid" %}
  {% include "_partials/favicons.liquid" %}
  <link rel="me" href="{{ site.mastodon }}">
  <!--styles-->
  <link href="/assets/styles/tailwind.css" rel="stylesheet" />
  <link href="/assets/styles/prism.min.css" rel="stylesheet" />

</head>

<body class="text-mk-background bg-white dark:text-mk-white dark:bg-mk-background">
  <header class="relative flex items-center h-12 font-semibold">
    <a class="text-lg mr-12 grow sm:grow-0 link-novisited" href="/"
      >Stencli Theme</a
    >
    <div
      id="header-drawer"
      class="grow shadow rounded-l-lg md:bg-transparent dark:md:bg-transparent bg-white dark:bg-[#0a0910] md:shadow-none md:rounded-none md:border-none md:h-auto md:static absolute transition-transform duration-300 ease-in md:translate-x-0 top-12 -right-5 pl-4 pt-6 pb-4 md:p-0 h-[200px] w-[200px] z-50 translate-x-96"
    >
      <nav
        class="flex h-full flex-col justify-between gap-12 text-left md:flex-row md:w-full md:gap-5"
      >
        <div class="flex flex-col gap-4 md:flex-row pr-4">
          <a
            href="/projects"
            class="text-opacity-60 flex items-center gap-1 text-2xl md:text-base link-novisited"
            rel="noopener noreferrer "
          >
            Projects
          </a>
          <a
            href="/podcasts"
            class="text-opacity-60 flex items-center gap-1 text-2xl md:text-base link-novisited"
            rel="noopener noreferrer "
          >
            Podcasts
          </a>
          <a
            href="/tags"
            class="text-opacity-60 flex flex-grow items-center gap-1 text-2xl md:text-base link-novisited"
            rel="noopener noreferrer "
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-8 md:w-6"
              viewBox="0 0 24 24"
              stroke-width="1.25"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M7.859 6h-2.834a2.025 2.025 0 0 0 -2.025 2.025v2.834c0 .537 .213 1.052 .593 1.432l6.116 6.116a2.025 2.025 0 0 0 2.864 0l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-6.117 -6.116a2.025 2.025 0 0 0 -1.431 -.593z"
              ></path>
              <path
                d="M17.573 18.407l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-7.117 -7.116"
              ></path>
              <path d="M6 9h-.01"></path>
            </svg>
            Tags
          </a>
        </div>
        <div class="flex items-center md:justify-end gap-3 md:p-0">
          <a
            href="https://github.com/danielcgilibert/blog-template"
            class="text-opacity-60"
            rel="noopener noreferrer "
            target="_blank"
            aria-label="Github"
            ><span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-8 md:w-6"
                viewBox="0 0 24 24"
                stroke-width="1.3"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
                ></path></svg></span></a
          ><a
            href="https://github.com/danielcgilibert/blog-template"
            class="text-opacity-60"
            rel="noopener noreferrer "
            target="_blank"
            aria-label="Twitter"
            ><span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-8 md:w-6"
                viewBox="0 0 24 24"
                stroke-width="1.3"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"
                ></path></svg></span
          ></a>
        </div>
      </nav>
    </div>
    <div
      class="flex items-center justify-end gap-3 md:pl-3"
      data-astro-transition-persist="navbar"
    >
      <div>
        <span><a href="/posts">Posts</a> →</span>
      </div>
      <theme-toggle class="relative h-6 w-6"
        ><button id="toggle-theme" class="group" aria-pressed="true">
          <span
            class="absolute left-0 right-0 top-0 opacity-0 group-aria-pressed:opacity-100"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-sun-high"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"
              ></path>
              <path d="M6.343 17.657l-1.414 1.414"></path>
              <path d="M6.343 6.343l-1.414 -1.414"></path>
              <path d="M17.657 6.343l1.414 -1.414"></path>
              <path d="M17.657 17.657l1.414 1.414"></path>
              <path d="M4 12h-2"></path>
              <path d="M12 4v-2"></path>
              <path d="M20 12h2"></path>
              <path d="M12 20v2"></path></svg></span
          ><span
            class="absolute left-0 right-0 top-0 opacity-0 group-aria-[pressed=false]:opacity-100"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-moon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1.25"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
              ></path></svg
          ></span></button
      ></theme-toggle>
      <button
        id="header-drawer-button"
        type="button"
        class="md:ml-6 md:hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-menu-2"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.25"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 6l16 0"></path>
          <path d="M4 12l16 0"></path>
          <path d="M4 18l16 0"></path></svg
        ><span class="sr-only">Show Menu</span>
      </button>
    </div>
  </header>
  <main class="">

    {{ content }}

  </main>

  <footer class="mt-4">
    <div class="mx-auto  pb-10">

      <!---->
      <div class="flex flex-wrap content-center">
        <div
          class="flex items-center link-novisited no-underline hover:text-social-mastodon dark:hover:text-social-mastodon mr-6">
          <i class="lab la-mastodon text-2xl"></i>
          <a rel="me" href="{{ site.mastodon }}" class="link-novisited">Mastodon</a>
        </div>

        <div
          class="flex items-center link-novisited no-underline hover:text-social-linkedin dark:hover:text-social-linkedin mr-6">
          <i class="lab la-linkedin text-2xl no-underline"></i>
          <a href="{{ site.linkedin }}" class="link-novisited">LinkedIn</a>
        </div>

        <div
          class="flex items-center link-novisited no-underline hover:text-social-instagram dark:hover:text-social-instagram mr-6">
          <i class="lab la-instagram text-2xl no-underline"></i>
          <a href="{{ site.steam }}" class="link-novisited">Instagram</a>
        </div>

        <div
          class="flex items-center link-novisited no-underline hover:text-social-youtube dark:hover:text-social-youtube mr-6">
          <i class="lab la-youtube text-2xl no-underline"></i>
          <a href="{{ site.youtube }}" class="link-novisited">YouTube</a>
        </div>

        <div
          class="flex items-center link-novisited no-underline hover:text-social-telegram dark:hover:text-social-telegram mr-6">
          <i class="lab la-telegram text-2xl no-underline">
            <a href="{{ site.telegram }}" class="link-novisited"></i>Telegram</a>
        </div>

        <div
          class="flex items-center sm:grow link-novisited no-underline hover:text-social-epicgames dark:hover:text-social-steam-dark mr-6">
          <i class="lab la-steam text-2xl no-underline"></i>
          <a href="{{ site.steam }}" class="link-novisited">Стим</a>
        </div>
        <div class="flex items-center link-novisited no-underline hover:text-mk-background">
          <a href="/donation">
            <button class="outline outline-offset-2 outline-1 rounded">
              <div class="px-1 flex items-center">
                <i class="text-2xl las la-piggy-bank"></i></div>
            </button></a>
        </div>
      </div>

      <p class="text-sm py-2">
        <!--Adding Site Author & Copyright-->
        <span class="space-out-bottom-mili-xs">© {{ site.author }} × </span>
        <!--Add Date and Copyright-->
        <span>2017 — {% year %}</span> </p>
    </div>
  </footer>

  <script>
    const isDarkMode = () => {
      const prefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;
      const storedTheme = localStorage.getItem("theme");

      // Если в локальном хранилище уже есть значение, используйте его
      if (storedTheme) {
        return storedTheme === "dark";
      }

      // Иначе используйте prefers-color-scheme
      return prefersDark;
    };

    const toggleTheme = () => {
      const isDark = isDarkMode();
      document.documentElement.classList.toggle("dark", isDark);
      localStorage.theme = isDark ? "light" : "dark";
    };

    // Установите начальную тему
    toggleTheme();

    // Сохранение состояния для theme в localStorage
    window.addEventListener("beforeunload", () => {
      localStorage.theme = document.documentElement.classList.contains("dark")
        ? "dark"
        : "light";
    });

    // Добавьте обработчик события click к кнопке переключения темы
    const button = document.getElementById("toggle-theme");
    button.addEventListener("click", toggleTheme);
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const drawer = document.getElementById("header-drawer");
      const button = document.getElementById("header-drawer-button");

      const toggleDrawer = () => {
        drawer.classList.toggle("translate-x-96");
      };

      button.addEventListener("click", toggleDrawer);

      // Сохранение состояния для drawer в localStorage
      document
        .getElementById("header-drawer")
        .addEventListener("transitionend", () => {
          localStorage.drawerCollapsed = document
            .getElementById("header-drawer")
            .classList.contains("translate-x-96");
        });
    });
  </script>
  <script src="/assets/scripts/prism.js"></script>
</body>

</html>