---
permalink: "/feed/feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:media="http://search.yahoo.com/mrss/"
	 xmlns:content="http://purl.org/rss/1.0/modules/content/"
	 xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:turbo="http://turbo.yandex.ru"
	 xmlns:atom="http://www.w3.org/2005/Atom"
     version="2.0">
    <channel>
        <!-- Information about the source site -->
        <title>{{ site.title }}</title>
        <link>{{ site.url }}</link>
        <description>{{ site.description }}</description>
        <language>ru-ru</language>
		<copyright>© {{ site.author }} × 2017 — {% year %}</copyright>
		{%- for post in collections.posts | reverse %}
		{{ site.url }}{{ post.url }}
        <item turbo="true">
            <!-- Information about the page -->
			<title>{{ post.data.title }}</title>
			<description>{{ post.data.desc }}</description>
            <turbo:extendedHtml>true</turbo:extendedHtml>
            <link>{{ site.url }}{{ post.url }}</link>
            <pubDate>{{ date | dateIso }}</pubDate>
            <author>{{ site.author }}</author>
            <turbo:content>
                <![CDATA[
                {{ post.templateContent }}
            ]]>
            </turbo:content>
        </item>
		{%- endfor -%}
    </channel>
</rss>
